:root {
  --bg-1: rgb(250, 222, 198);
  --bg-2: rgb(241, 206, 175);
  --shadow: rgb(163, 128, 97);
  --border-color: rgb(163, 128, 97);
  --button-bg: rgb(190, 190, 190);

  --bg-dark-1: rgb(106, 59, 18);
}

body {
  margin: 0;
  padding: 0.5em 1.5em;
  background-color: var(--bg-1);
}

h1, h2 {
  margin: 0;
}
p {
  margin: 0.2em 0;
}

.framed {
  background-color: var(--bg-2);
  padding: 1em;
  margin: 0;
  margin-bottom: 0.8em;
  border: 1px solid var(--border-color);
  border-radius: 0.5em;
  box-shadow: 0.3em 0.5em 0.2em var(--shadow);

  /* .framed.dark */
  &.dark {
    background-color: var(--bg-dark-1);
    color: var(--bg-1);

    button {
      background-color: black;
      color: var(--button-bg);
    }
  }
}

button {
  padding: 0.2em 0.8em;
  border-radius: 0.2em;
  border: 1px solid var(--border-color);
  transition: 0.6s all;

  &:hover {  /* button:hover */
    cursor: pointer;
    background-color: var(--bg-1);
    border-color: var(--shadow);
  }
}
